header {
	height: 76px;
	width: 100%;
	background-color: $Purple;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 5;
}

.nav {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.navLeft {
	width: 35%;
}

.navRight {
	width: 65%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
}

.navLinks {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;	
	li {
		list-style-type: none;
		padding: 0 3%;
		}
}

a {
	color: $PrimaryColour;
	text-decoration: none;
}

a:hover {
	color: $SecondaryColour;
}

.social {
	width: 15%;
	color: $PrimaryColour;
	margin-left: 5px;
}

.fa {
	font-size: 20px;
	margin: 0 5px;
}

.toggle {
	color: white;
	// position: absolute;
	// top: 0;
	// right: -220px;
}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	
	header {
		height: 105px;		
	}

	.nav {
		flex-direction: column;
		text-align: center;
	}

	.navLeft, .navRight {
		width: 100%;
	}

	ul {
		margin: 1%;
	}

	.navLinks li {
		padding: 0 1%;
		}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {



}

/* Landscape phones and down */
@media (max-width: 480px) {

h1 {
	margin-top: 0;
}
	
.toggle {
	display: unset;
	top: 27px;
	right: -165px;
}

.navRight {
	width: 25%;
	position: fixed;
}

.navLinks {
	display: flex;
	flex-direction: column;
	text-align: right;
	position: absolute;
  top: 53px;
  right: -170px;
}

a {
	color: $SecondaryColour;
}

a:hover {
	color: #4DBFE6;
}

.fa {
	font-size: 26px;
	margin: 0 5px;
}

/*
  When the input is checked
  grab the next sibling nav with the + selector
*/
input#toggle:checked + .navLinks {
  right:0; /* when the checkbox is checked, put the ul.navRight back to right:0; It was at right:-30%;*/
}

/*
  ~ means grab the next eventual sibling
*/
input#toggle ~ .navLinks {
  right:-30%; /* When the input is checked, slide the  ul.navRight over as well */
}

input#toggle {
  display: none; /* hide the input, we don't need to see it */
}

label[for="toggle"] {
  /*position the menu so that it doesn't slide off screen when we open it*/
  position: fixed;
  top: 80px;
    left: 208px;
}



	
}